################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BorsukSoftware.Tools.AWSDeviceFarm.Launcher/.vs
/BorsukSoftware.Tools.AWSDeviceFarm.Launcher/bin
/BorsukSoftware.Tools.AWSDeviceFarm.Launcher/obj
